@import './fonts/_fonts.scss';
@import './constants/_vars.scss';
@import './libs/_global.scss';
@import './constants/_base.scss';

@import './components/general/_header.scss';
@import './components/general/_header-lk.scss';

/* Index page */
@import './components/section/index/_home.scss';
@import './components/section/index/_about.scss';
@import './components/section/index/_services.scss';
@import './components/section/index/_teachers.scss';
@import './components/section/index/_blog.scss';
@import './components/lk/_lk.scss';
@import './components/lk/_wallet.scss';
@import './components/lk/_cost.scss';

/* blocks */
@import './components/blocks/_db.scss';
@import './components/blocks/_menu.scss';
@import './components/blocks/_label.scss';
@import './components/_form-page.scss';
@import './components/_logout.scss';

@import './components/general/_footer.scss';