.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	flex: 1 1 auto;
}

._img {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

._vector {
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: -51px;
		right: 10px;
		width: 64px;
		height: 111px;
		background: url('../images/vector.webp') center center/contain no-repeat;
		z-index: 200000000000000;
	}
}

.signupLKParent {
	display: none;
}

._section {
	&-main {
		&-title {
			font-weight: 400;
			font-size: 116px;
			letter-spacing: 0.02em;
			text-align: center;
			color: #587202;

			@media (max-width: 768px) {
				font-size: 48px;
			}
		}
	}

	&-padding {
		padding: 100px 0;
	}

	&-title {
		font-weight: 400;
		font-size: 96px;
		letter-spacing: 0.05em;
		color: #587202;

		@media (max-width: 768px) {
			padding: 0;
			font-size: 46px;
		}
	}

	&-text {
		font-family: $Montserrat;
		font-weight: 500;
		font-size: 24px;
		color: #545454;
	}

	&-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(615px, 1fr));
		gap: 30px;

		li {
			padding: 45px 82px;
			min-height: 300px;

			p {
				margin-top: 10px;
				font-family: $Montserrat;
				font-weight: 600;
				font-size: 24px;
				font-variant: small-caps;
				color: #fff;
			}
		}

		@media (max-width: 768px) {
			grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

			li {
				padding: 22px 14px;
				display: flex;
				align-items: center;
				min-height: auto;
				gap: 12px;

				p {
					font-size: 12px;
				}
			}
		}
	}

	&-item {
		border-radius: 30px;
		overflow: hidden;

		&-green {
			background-color: #9bb189;
		}

		&-red {
			background: #ff9d82;
		}
	}

	&-box {
		display: flex;
		gap: 86px;
		margin-top: 100px;
	}

	&-btn {
		background: #ff9d82;
		padding: 10px 103px;
		border-radius: 41px;

		font-weight: 400;
		font-size: 32px;
		line-height: 200%;
		letter-spacing: 0.02em;
		color: #fff;
	}
}

@media (max-width: 768px) {
	._section-box {
		margin-top: 40px;
		display: block;
		text-align: center;
	}
	._section-box button {
		margin-bottom: 10px;
	}
}

._lock {
	overflow: hidden;
}