._label {
    &__box {
        margin-top: 100px;
        box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
        border-radius: 33px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 466px;
        background: #f7f0e5;
        position: relative;

        p {
            font-weight: 600;
            font-size: 36px;
            line-height: 139%;
            text-align: center;
            color: #545454;
            max-width: 641px;
        }
    }
}