.form-page {

    position: relative;

    &__form {
        width: 100%;
    }

    &__title {
        font-weight: 400;
        font-size: 66px;
        line-height: 200%;
        text-align: center;
        color: #587202;
    }

    &__label {
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #fb3c29;
        margin-top: 94px;
        margin-bottom: 63px;
    }

    &__input {
        border: 2.48px solid #9bb189;
        border-radius: 41px;
        display: flex;
        overflow: hidden;
        align-items: center;
        height: 115px;
        position: relative;
        cursor: pointer;
        font-weight: 400;
        font-size: 32px;
        line-height: 200%;
        letter-spacing: 0.02em;
        color: #191919;

        img {
            border-radius: 41px;
            overflow: hidden;
        }

        input {
            padding: 20px;
            padding-left: 33px;
            width: 100%;
            overflow: hidden;
            height: 100%;
            background: transparent;

            font-weight: 400;
            font-size: 32px;
            line-height: 200%;
            letter-spacing: 0.02em;
            color: #191919;
        }

        label {
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            left: 33px;

            font-weight: 400;
            font-size: 32px;
            line-height: 200%;
            letter-spacing: 0.02em;
            color: #191919;

            span {
                color: #fb3c29;
            }


        }

        input[type='file'] {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        margin-bottom: 20px;

        &_text {
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            left: 33px;
        }
    }

    &__img {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 100%;
        img {
            width: 120px;
            height: 100%;
        }
    }

    &__input[data-panel] {
        overflow: visible;
        label {
            cursor: pointer;
        }
    }

    &__btn {
        margin-top: 54px;
        border-radius: 41px;
        padding: 25px 0;
        display: inline-block;
        background: #ff9d82;
        padding-right: 130px;
        padding-left: 27px;

        text-align-last: left;
        font-weight: 400;
        font-size: 32px;
        line-height: 200%;
        letter-spacing: 0.02em;
        color: #fff;
    }

    &__panel {
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        z-index: 400;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        padding: 15px 20px;
        background: #f7f0e5;
        font-weight: 400;
        font-size: 40px;
        line-height: 200%;
        display: none;

        @media screen and (max-width: 600px) {
            font-size: 14px;
        }

        ul {
            li {
                cursor: pointer;

                @media screen and (max-width: 600px) {
                    font-size: 14px;
                }
            }
        }
    }

    &__panel._open {
        display: flex;
    }

    &__panel.col-1 {
        grid-template-columns: repeat(2, 1fr);
        height: 466px;
        overflow: auto;
    }
    &__panel.call {
        flex-direction: column;
        li {
            max-width: 336px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &::after {
                content: '';
                display: block;
                width: 25px;
                height: 25px;
                background-color: #D9D9D9;
            }
        }
    }

    &__panel.col-1._open {
        display: grid;
    }

    &__branch {
        &-one {
            position: absolute;
            top: 0;
            left: 0;
        }

        &-two {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.lock {
    overflow: hidden;
}

.wrapper-form {
    padding-bottom: 100px;
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 314px;
        height: 214px;
        background: url('../images/branch/branch-form.png') center center/contain no-repeat;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -100px;
        right: 0;
        width: 349px;
        height: 397px;
        background: url('../images/branch/branch-form2.png') center center/contain no-repeat;
    }
}
.wrapper-form-reg {
    padding: 100px 0;
    &::before {
        content: '';
        width: 114px;
        height: 114px;
        top: -18px;
    }
    &::after {
        content: '';
        width: 149px;
        height: 197px;
        bottom: -40px;
    }
}