.footer {
    padding-bottom: 65px;
    margin-top: 100px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-family: $Montserrat;
        font-weight: 300;
        font-size: 32px;
        font-variant: all-small-caps;
        color: #000;

    }

    ul.footer__container {
        display: grid;
        grid-template-columns: repeat(4, 392px)
    }

    &__line {
        background-color: #000000;
        max-width: 1787px;
        height: 1px;
        margin-top: 35px;
        margin-bottom: 35px;
        margin-right: auto;
        margin-left: 10%;
    }

    &__wrapper {
        margin-top: 30px;
        font-family: $Montserrat;
        font-weight: 300;
        font-size: 24px;
        line-height: 121%;
        font-variant: none;
        color: #000;
    }

    &__label {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-top: 20px;
        align-items: flex-end;
        gap: 8px;
    }

    &__branch {
        position: absolute;
        top: -281px;
        right: 0;
    }
    &-index {
        padding-top: 381px;
    }

    position: relative;

    @media (max-width: 1400px) {
        ul.footer__container {
            grid-template-columns: repeat(2, 392px);
        }

        &__line {
            width: 90%;
            height: 1px;
            margin: 0 auto;
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }
    @media (max-width: 1400px) {
        ul.footer__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}