.blog {
    &__list {
        margin-top: 100px;
    }
    @media (max-width: 1330px) {
        &__list {
            li {
                min-height: 300px;
                &:nth-child(3) {
                    order: 3;
                }
            }
        }
    }
}