.teachers {
    padding-bottom: 100px;
    position: relative;
    h2._section-title {
        text-align: right;
    }
    &__list {
        margin-top: 100px;
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: 992px) {
            margin-top: 70px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
        }
        li {
            max-width: 420px;
            height: 400px;
        }
    }
}